@import url('https://fonts.googleapis.com/css?family=Roboto:700');


#container {
  
  text-transform: uppercase;
  font-size:56px;
  font-weight:bold;
  
  font-family:'Roboto';
  
  width:100vw;
  bottom:32%;
  display:block;


}

#flip {
  height:78px;
  overflow:hidden;
  margin-top:14px;
   margin-bottom:14px;
}

#flip > div > div {
  color:#ffffff;
  padding:0px 12px;
  height: 78px;
  margin-bottom:10px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  
  background:#0b3f28;
}
#flip div:first-child div {
  background:#09252f;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

